<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    
    <main class="main-dashboard">

        <div class="barraLatera">
            <div class="logo">
                <div class="menu"></div>
                <ul>
                    <li>
                        <a href="">Direccion a la que va dirigida cada 
                            <p>Telefono</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p>Lista de Producto</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p></p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p></p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <p></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <% views %>

</body>
</html>