<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <header>
        <h2> VOID </h2>
    </header>


    <main>

        <ul>
            <li><a href="">Clásicas</a></li>
            <li><a href="">Pizzas del mes</a></li>
            <li><a href="">Promo del mes</a></li>
            <li><a href="">Combos</a></li>
            <li><a href="">Individuales</a></li>
            <li><a href="">Bebidas</a></li>
        </ul>


    </main>


    <footer>

        <h2>VOID </h2>

    </footer>
    
</body>
</html>