<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edicion del producto</title>
</head>
<body>

    <%-includes("./partials/header")%>
    <main class="main-form">

        <form class="form-edit">
            <div class="conteiner-x-edit">
                <a href="/"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <div>
                <h1 class="titulo">Editar producto</h1>
            </div>
            <div class="edit-title">
                <input type="text" id="title" name="titulo" placeholder="Editar titulo">
            </div>
            <div class="edit-price">
                <input type="text" id="price" name="precio" placeholder="Editar precio">
            </div>
            <div class="edit-description">
                <input type="text" id="description" name="descripcion" placeholder="Editar descripcion">
            </div>
            <div class="edit-category">
                <label for="category">Categoria</label>
                <select name="category" id="category">
                    <option value="margarita">Pizza Margarita</option>
                    <option value="cuatro-q">Pizza Cuatro Quesos</option>
                    <option value="peperoni">Pizza de pepperoni</option>
                    <option value="cuatro-e">Pizza cuatro estaciones</option>
                    <option value="chammpiñon">Pizza con champiñones</option>
                    <option value="hawaiana">Pizza hawaiana</option>
                    <option value="marinara">Pizza marinara</option>
                    <option value="napolitana">Pizza napolitana</option>
                    <option value="neoyorquina">Pizza neoyorquina</option>
                    <option value="fugazza">Pizza fugazza </option>
                </select>
            </div>

            <div class="edit-image">
                <label class="label-titulo" for="image">Editar imagen del producto</label>
                <br>
                <input type="file" id="image" name="imagen">
            </div>
            <div class="button">
                <button type="submit" id="button" name="boton">Guardar cambios</button>
            </div>
        </form>

    </main>
    <%-includes("./partials/footer")%>
    
</body>
</html>