<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>

<body>


<!-- Header -->
<%- include('./partials/header') %>

    <main class="mainhome">


        <img src="/design/imgHome/logo-home.jpg" alt="Logo Principal Home">

        <section class="pizzasbaner">

            <h1>CATEGORIAS</h1>



            <div class="bannerhome">
                <ul>
                    <li><a href="">Pizzas</a></li>
                    <li><a href="">Calzones</a></li>
                    <li><a href="">Faina</a></li>
                    <li><a href="">Canasta</a></li>
                    <li><a href="">Empanadas</a></li>
                    <li><a href="">Sin TACC</a></li>
                </ul>
            </div>


            <img class="imagena" src="/design/imgHome/Pizza-aceituna.jpg" alt="Pizza aceituna">

            <img class="imagenb" src="/design/imgHome/empanadas.jpg" alt="Empanadas">

            <img class="imagenc" src="/design/imgHome/qr.jpg" alt="QR">

        </section>

        <section class=pizzasinferior>
            <article class="pizzas1">

                <img class="pizzacala" src="/design/imgHome/calabresa.jpg" alt="Calabresa">

                <h3>CALABREZA</h3>

                <ul>
                    <li><a href="">salsa de tomate</a></li>
                    <li><a href="">muzzarella</a></li>
                    <li><a href="">longaniza</a></li>
                    <li><a href="">aji molido</a></li>
                    <li><a href="">aceitunas neegras</a></li>
                </ul>
            </article>

            <article class="pizzas2">

                <img class="pizzaprovo" src="/design/imgHome/PROVOLENE1.jpg" alt="Provolone">

                <h3>PROVOLONE Y ANANA</h3>

                <ul>
                    <li><a href="">salsa de tomate</a></li>
                    <li><a href="">muzzarella</a></li>
                    <li><a href="">longaniza</a></li>
                    <li><a href="">aji molido</a></li>
                    <li><a href="">aceitunas neegras</a></li>
                </ul>

            </article>

            <article class="pizzas3">

                <img class="pizzaroque" src="/design/imgHome/ROQUEFORT1.jpg" alt="Roquefort">

                <h3>ROQUEFORT</h3>

                <ul>
                    <li><a href="">salsa de tomate</a></li>
                    <li><a href="">muzzarella</a></li>
                    <li><a href="">longaniza</a></li>
                    <li><a href="">aji molido</a></li>
                    <li><a href="">aceitunas neegras</a></li>
                </ul>

            </article>

        </section>

    </main>


<!-- Footer -->
<%- include('./partials/footer') %>
</body>

</html>