<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('./partials/head') %>

<body>


     <!-- Header -->
<%- include('./partials/header') %>

    <main class="main-login">

        <!--LOGIN-->

        <form action="">

            <input type="email" id="login" placeholder="Email">
            <input type="password" placeholder="contraseña">
            <button type="submit">Ingresar</button>
            <a href="">¿Olvidaste tu contraseña?</a>

            <ol class="conteiner-red">

                <li class="google-login"><img src="/design/iconsLogin/klipartz.png" alt=""><a
                        href="http://www.google.com">Continuar con Google</a></li>
                <li class="face-login"><img src="/design/icons/face.png" alt=""><a
                        href="http://www.facebook.com">Continuar Facebook</a></li>
                <li class="insta-login"> <img src="/design/icons/insta.png" alt=""><a
                        href="http://www.instagram.com">Continuar con Instagram</a></li>
                <li class="whats-login"> <img src="/design/icons/what.png" alt=""><a
                        href="http://www.instagram.com">Continuar con Whatsapp</a></li>

            </ol>
        </form>




    </main>


      <!-- Footer -->
<%- include('./partials/footer') %>
</body>

</html>