<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


    <header class="headerPrincipal">

        
        <a href="/"> <img src="./design/icons/logo.png" alt="logo pizza"></a>
        <h5>LA PIZZA QUE TE GUSTA</h5>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li class="opcion" ><a href="">Inicio</a></li>
                <li class="opcion1" ><a href="">Menu</a></li>
                <li class="opcion2" ><a href="">Sucursales</a></li>
                <li class="opcion3" ><a href="">Registrate</a></li>
            </ul>
        </nav>



    </header>

    <!-- NAV-BAR -->
    <main>
        <nav class="nav-bar">
             <ul class="list-bar">
                 <li><a href="">Clásicas</a></li>
                 <li><a href="">Pizzas del mes</a></li>
                 <li class="list-none"><a href="">Promo del mes</a></li>
                 <li class="list-none"><a href="">Combos</a></li>
                 <li class="list-none"><a href="">Individuales</a></li>
                 <li class="drinks"><a href="">Bebidas</a></li>
     
                
             </ul>
       </nav>
       <!-- TÍTULOS -->
       <h2>Clásicas</h2>
       <p class="caption">Clásicas</p>
       <a class="arrow-right" href=""><i class="fa-solid fa-angle-right"></i></a>
    <!-- CONTENEDOR DIVS -->
     <div class="contenedor-primero">
         <!-- PRIMER DIV -->
        
         <div class="first-div">
         <div class="contenedor-img">
             <img src="/design/imgCarrito/image2.jpg" alt="">
         </div>
         <div class="contenedor-descrip">
             <p class="name-pizza">Pepperoni 8P</p>
     <p class="description">Salsa de tomate, pepperoni, mozzarella, aceituna sin carozo.</p>
     <p class="price">$5,400,0</p>
     </div>
       </div>
     
     
       <!-- SEGUNDO-DIV -->
       <div class="second-div">
         <div class="contenedor-img">
             <img src="/design/imgCarrito/image3.jpg" alt="">
         </div>
         <div class="contenedor-descrip">
             <p class="name-pizza">Margarita 6P</p>
         <p class="description">Salsa de tomates maduros, mozzarella, hojas frescas de albahaca.</p>
         <p class="price">$4,900,0</p>
     </div>
        
       </div>
     
       <!-- TERCER-DIV -->
       <div class="third-div">
         <div class="contenedor-img">
             <img src="/design/imgCarrito/image4.jpg" alt="">
         </div>
         <div class="contenedor-descrip">
             <p class="name-pizza">Serranita 6P</p>
         <p class="description">Salsa de tomate y pimiento asado, rúcula, mozzarella, jamón serrano.</p>
         <p class="price">$5,899,0</p>
         </div>
         </div>
    
     
    </div>
     <!-- TÍTULO DOS -->
     <h2 class="second-h2">Pizzas del mes</h2>
     <p class="caption-dos">Pizzas del mes</p>
     <!-- CUARTO-DIV -->
       <div class="contenedor-div-cuarto">  
        <div class="head">
         <a href="/"> <img src="./design/icons/logo.png" alt="logo pizza"></a>
     </div>
     <div class="fourth-div">
         <p class="horary">De 11:30 a 00:30 hs</p>
         <p class="open">Abierto</p>
         <p class="text"> Ingredientes frescos de cosecha, Tenemos variedad, excelentes
             chefs, te ofrecemos lo primero en cuanto a calidad. Pedila y
             llevala, o te la llevamos a tu casa por medio de nuestro
             servicio de delivery. </p>
         <i class="fa-solid fa-bag-shopping"></i>
         <a class="adress" href="https://www.google.com.ar/maps/preview">A retirar en Av. Cabildo 230</a>
         <i class="fa-solid fa-arrow-pointer"></i>
     </div>
     <div class="foot">
         <i class="fa-solid fa-basket-shopping"></i>
         <a href="">Mi cesta(0)</a>
     </div>
     </div>
     <!-- CONTENEDOR-SEGUNDO-DIVS -->
     <div class="contenedor-segundo">
        <!-- QUINTO-DIV -->
     <div class="fifth-div">
         <div class="contenedor-img-fifth">
             <img src="/design/imgCarrito/image5.jpg" alt="">
         </div>
         <div class="contenedor-descrip-fifth">
             <p class="name-pizza-fifth">Ibérica Individual</p>
         <p class="description-fifth">Huevos, aceite de oliva, parmesano, jamón ibérico</p>
         <p class="price-fifth">$5,899,0</p>
         </div>
     </div>
         <!-- SEXTO-DIV -->
       <div class="sixth-div">
         <div class="contenedor-img-sixth">
             <img src="/design/imgCarrito/image6.jpg" alt="">
         </div>
         <div class="contenedor-descrip-sixth">
             <p class="name-pizza-sixth">Fiesta Italiana 8P</p>
         <p class="description-sixth">Cherrys, pesto de albahaca, orégano, mozzarella, aceite de oliva.</p>
         <p class="price-sixth">$5,899,0</p>
     
        
       </div>
     
     
     </div></div>
     
       <!-- ÍCONOS-DIV -->
       <div class="icons-div">
         <a href="/"><i class="fa-solid fa-right-from-bracket"></i></a>
         <p class="out">Salir</p>
         <i class="fa-solid fa-basket-shopping"></i>
         <p class="order">Mi pedido</p>
       </div>
                
     
         </main>

    <footer class="footer">

        <nav class="info-footer">

            <ul>

                <div class="conteiner-phone">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel">+54 9 388 4636451</a>
                </div>

                <h2 class="direction-f">Direccion</h2>

                <div class="conteiner-location">
                    <i class="fa-solid fa-location-dot"></i>
                    <h3>AV. Cabildo 230 (c.a.b.a)</h3>
                </div>

                <h2 class="Redes">Nuestras Redes</h2>

                <div class="conteiner-iconos">
                    <a href="http://www.facebook.com.ar"><img src="/design/icons/face.png" alt="Facebook"></a>
                    <a href="http://www.instagram.com.ar"><img src="/design/icons/insta.png" alt="Instagram"></a>
                    <a href="http://www.pinteres.com.ar"><img src="/design/icons/pint.png" alt="Pinteres"></a>
                    <a href="http://www.youtube.com.ar"><img src="/design/icons/youtu.png" alt="Youtube"></a>
                    <a href="http://www.whatsapp.com.ar"><img src="/design/icons/what.png" alt="whatsapp"></a>



                </div>

                <div class="contenedor-copy">
                    <h2 class="sobre-nos">Sobre Nosotros</h2>
                    <p>copyrigth 2023 |Todos los Derechos Reservados |Desarrollado por grupo 10</p>
                </div>

            </ul>

        </nav>

    </footer>
</body>

</html>