<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="LogoPrincipal">
            <img src="./desing/logo.png">
        </div>
        <div class="conteiner">
            <h5>LA PIZZA QUE TE GUSTA</h5>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="producto">Menu</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="login">Registrate</a></li>
            </ul>
        </nav>
    </header>


    <main>

        <h2>area a trabajar</h2>


    </main>


    <footer>

        <nav class="info-footer">

            <ul>
                <li><a href="">Direccion</a></li>
                <li><a href="">Av. Cabildo (caba)</a></li>
                <li><a href="">Sobre Nosotros</a></li>
                <li><a href="">Copyright Todos los derechos reservados Desarrollado por G10</a></li>
                <li><a href="">Nuestras Redes</a></li>
                <li><a href="">Aca agregar Iconos</a></li>

            </ul>

        </nav>


    </footer>
</body>

</html>