<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="LogoPrincipal">
            <img src="./desing/logo.png">
        </div>
        <div class="conteiner">
            <h5>LA PIZZA QUE TE GUSTA</h5>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li><a href="home">Inicio</a></li>
                <li><a href="producto">Menu</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="login">Registrate</a></li>
            </ul>
        </nav>
    </header>


    <main class="main-producto">

        <div class="article">

            <article class="articulo-producto">

                <img src="\images\producto\pizza.png" alt="Imagen de pizza">

                <h3>Caprese 8 Pociones</h3>

                <p>Muzzarrella - Tomates Frescos - Albahaca - Aceite de Albahaca</p>

                <P>Subtotal</P>

                <p>$7200</p>

            </article>

        </div>

        <div class="Confirmacion">

            <h3>Agregar</h3>

        </div>

    </main>


    <footer>

        <nav class="info-footer">

            <ul>
                <li><a href="">Direccion</a></li>
                <li><a href="">Av. Cabildo (caba)</a></li>
                <li><a href="">Sobre Nosotros</a></li>
                <li><a href="">Copyright Todos los derechos reservados Desarrollado por G10</a></li>
                <li><a href="">Nuestras Redes</a></li>
                <li><a href="">Aca agregar Iconos</a></li>

            </ul>

        </nav>


    </footer>
</body>

</html>