<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

   
    <header class="headerPrincipal">

        <a href="/"> <img src="./desing/logo.png" alt="logo pizza"></a>
        <h5>LA PIZZA QUE TE GUSTA</h5>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <nav class="opcionPrincipal">
            <ul>
                <li class="opcion" ><a href="">Inicio</a></li>
                <li class="/cart.html" ><a href="">Menu</a></li>
                <li class="opcion2" ><a href="">Sucursales</a></li>
                <li class="opcion3" ><a href="">Registrate</a></li>
            </ul>
        </nav>



    </header>


    <main>
   <nav>
        <ul>
            <li><a href="">Clásicas</a></li>
            <li><a href="">Pizzas del mes</a></li>
            <li><a href="">Promo del mes</a></li>
            <li><a href="">Combos</a></li>
            <li><a href="">Individuales</a></li>
            <li><a href="">Bebidas</a></li>
        </ul>
  </nav>
  <h2>Clásicas</h2>
  <p>Clásicas</p>
  <div>
    <img src="/design/imgCarrito/image2.jpg" alt="">
<p>Pepperoni 8P</p>
<p>Salsa de tomate, pepperoni, mozzarella, aceituna sin carozo.</p>
<p>$5,400,0</p>
  </div>
  <div>
    <img src="/design/imgCarrito/image2.jpg" alt="">
    <p></p>
  </div>
  <div>
    <img src="/design/imgCarrito/image2.jpg" alt="">
    <p></p>
  </div>
        

    </main>


    <footer class="footer">

        <nav class="info-footer">

            <ul>

                <div class="conteiner-phone">
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel">+54 9 388 4636451</a>
                </div>

                <h2 class="direction-f">Direccion</h2>

                <div class="conteiner-location">
                    <i class="fa-solid fa-location-dot"></i>
                    <h3>AV. Cabildo 230 (c.a.b.a)</h3>
                </div>

                <h2 class="Redes">Nuestras Redes</h2>

                <div class="conteiner-iconos">
                    <a href="http://www.facebook.com.ar"><img src="/design/icons/face.png" alt="Facebook"></a>
                    <a href="http://www.instagram.com.ar"><img src="/design/icons/insta.png" alt="Instagram"></a>
                    <a href="http://www.pinteres.com.ar"><img src="/design/icons/pint.png" alt="Pinteres"></a>
                    <a href="http://www.youtube.com.ar"><img src="/design/icons/youtu.png" alt="Youtube"></a>
                    <a href="http://www.whatsapp.com.ar"><img src="/design/icons/what.png" alt="whatsapp"></a>



                </div>

                <div class="contenedor-copy">
                    <h2 class="sobre-nos">Sobre Nosotros</h2>
                    <p>copyrigth 2023 |Todos los Derechos Reservados |Desarrollado por grupo 10</p>
                </div>

            </ul>

        </nav>

    </footer>
    
</body>
</html>