<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>

<body>


     <!-- Header -->
<%- include('./partials/header') %>





    <main class="main-product">

        <div class="article">

            <article class="articulo-producto">

                <img src="/design/product/pizza.png" alt="Imagen de pizza">

                <h3>Caprese 8 Pociones</h3>

                <p class="ingredientes">Muzzarrella - Tomates Frescos - Albahaca - Aceite de Albahaca</p>
                <hr>
                <P class="subtotal">Subtotal</P>
                <hr>
                <p class="total">$7200</p>

                <div class="confirmacion">

                    <button class="botonno" type="button">
                        <p>Cancelar<i class="fa-solid fa-xmark"></i></p>
                    </button>

                    <button class="botonok" type="button">
                        <p>Agregar<i class="fa-solid fa-check"></i></p>
                    </button>

                </div>
            </article>

        </div>



    </main>


   <!-- Footer -->
   <%- include('./partials/footer') %>

   
</body>

</html>