.main-form {
    background-color: var(--gris);
    padding: 12%;
}

.main-form form {}

.main-form .form-edit {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gri);
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 8px black;
}

.form-edit div {
    text-align: center;
    margin: 9px;
    /* border-bottom: var(--grisBoton) solid; */
}
.form-edit div input{
    border-radius: 6px;
    padding: 4px;
    background-color: var(--gris);
}
.form-edit .conteiner-x-edit{
    right: 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
}
 .conteiner-x-edit i{
 color: black;}
/titulo/
.form-edit .titulo {
    margin: 8px;
    color: var(--gris);
 …