/*Celular*/
@media screen and (max-width: 360px) {

    .footer {

background: var(--rojo);

/* height: 100vh; */

justify-content: center;

align-items: center;

flex-direction: row;

margin-bottom: -37px;

}

    .footer .info-footer {margin: 27px;}

    .footer .info-footer ul {}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .conteiner-phone a {

        padding-top: 21px;

        margin-right: 52px;
    }


    .direction-f {
        display: none;
    }

    .conteiner-location {
        display: flex;
        justify-content: center;
        padding-bottom: 22px;
    }

    .conteiner-location i {
        font-size: 37px;
    }


    .conteiner-location h3 {
        display: flex;
        display: inline-block;
        padding-top: 21px;
        margin-right: 48px;
    }

    .conteiner-location h2 {}

    .Redes {
        display: none;
    }

    .conteiner-iconos {
        padding-bottom: 11px;
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        display: none;
    }

    .contenedor-copy p {
        display: flex;
        font-size: 10px;
        margin-left: -40px;
    }

}

/*Tablet*/
@media screen and (min-width: 361px) {

    .footer {
    display: flex;
    background: var(--rojo);
    height: 180px;
}

    .footer .info-footer {}

    .footer .info-footer ul {}

    .footer .info-footer .conteiner-phone {}

    .conteiner-phone i {}

    .conteiner-phone a {}


    .direction-f {
    position: relative;
    left: 50%;
    display: inline;
    top: -34%;
}

    .conteiner-location {}

    .conteiner-location i {}


    .conteiner-location h3 {}

    .conteiner-location h2 {}

    .Redes {position: relative;left: 98%;margin-bottom: 32px;}

    .conteiner-iconos {
    position: relative;
    display: inline;
    left: 90%;
}

    .conteiner-iconos a {}



    .contenedor-copy h2 {}

    .contenedor-copy p {}

}




/*Laptop*/
@media screen and (min-width: 769px) {

    .footer {

        background: var(--rojo);

        height: 189px;

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;

    }

    .footer .info-footer {}

    .footer .info-footer ul {}

    .footer .info-footer .conteiner-phone {
        display: flex;
        justify-content: center;
    }

    .conteiner-phone i {
        display: flex;
        justify-content: center;
        font-size: 41px;
    }

    .conteiner-phone a {

        padding-top: 21px;

        margin-right: 52px;
    }


    .direction-f {
        display: none;
    }

    .conteiner-location {
        display: flex;
        justify-content: center;
        padding-bottom: 22px;
    }

    .conteiner-location i {
        font-size: 37px;
    }


    .conteiner-location h3 {
        display: flex;
        display: inline-block;
        padding-top: 21px;
        margin-right: 48px;
    }

    .conteiner-location h2 {}

    .Redes {
        display: none;
    }

    .conteiner-iconos {
        padding-bottom: 11px;
    }

    .conteiner-iconos a {}



    .contenedor-copy h2 {
        display: none;
    }

    .contenedor-copy p {
        display: flex;
        font-size: 10px;
        margin-left: -40px;
    }

}