:root {
    --frijole: 'Frijole', sans-serif;

    --rojo: #A60D0D;    
    --gris: #D9D9D9;
    --gri: #364F5E;
    


    
};

*{
    font-family: var(--Frijole);
    margin: 0px;
}
body{
    margin: auto;
}