:root {
    --frijole: 'Frijole', sans-serif;

    --rojo: #A60D0D;    
    --gris: #D9D9D9;
    --gri: #364F5E;
    --azul: #5F9FFE;
    --negro:#000000;
    --negrocla:#323030;
    --verde: #36CF58;
    --grisBoton: #D9D9D9;
    --blanco:#FFFFFF;
    

    


    
};

*{
    font-family: var(--Frijole);
    margin: 0px;
}
body{
    margin: auto;
}