/*Celular*/
@media screen and (max-width: 360px) {

    .headerPrincipal {

        height: 93px;

        display: flex;

        justify-content: space-around;

        background-color: var(--rojo);

    }

    .headerPrincipal img {

        height: 77px;

        padding-top: 7px;

    }

    .headerPrincipal div.conteiner {
        display: flex;
        flex-direction: row-reverse;
    }

    .headerPrincipal h5 {

        text-align: center;

        font-family: var(--frijole);

        color: var(--gris);

        font-size: medium;

        display: none;

        width: 68px;
    }

    .headerPrincipal .burger-menu {
        /* border: solid; */
        margin-left: 31%;
        padding-top: 17px;
    }

    .headerPrincipal .burger-menu i {
        font-size: 50px;
        margin-right: 32px;
    }


    .headerPrincipal nav.opcionPrincipal {

        display: none;
    }

    .headerPrincipal .opcionPrincipal ul {}

    .headerPrincipal .opcionPrincipal ul li {}

    .headerPrincipal .opcionPrincipal ul li a {}

}

/*Tablet*/
@media screen and (min-width: 361px) {

    .headerPrincipal {
    background: var(--rojo);
    height: 100%;
    width: 100%;
    position: relative;
    /* width: auto; */
}

    .headerPrincipal img {height: 100px;/* border: solid; */padding-top: 7px;}

    .headerPrincipal div.conteiner {}

    .headerPrincipal h5 {
    display: none;
}

    .headerPrincipal .burger-menu {
    display: none;
}

    .headerPrincipal .burger-menu i {}


    .headerPrincipal nav.opcionPrincipal {}

    .headerPrincipal .opcionPrincipal ul {display: flex;flex-direction: row;position: absolute;top: 46px;/* text-decoration: none; */list-style: none;}

    .headerPrincipal .opcionPrincipal ul li {
    margin-left: 100px;
    border: solid 2px var(--gris);
    border-radius: 14px;
    padding: 3px;
}

    .headerPrincipal .opcionPrincipal ul li a {
    padding: 1px;
    color: var(--gris);
    font-family: var(--antiqua);
}


.headerPrincipal .opcionPrincipal .opcion{

padding: 9px;
}

.headerPrincipal .opcionPrincipal .opcion1{
    
padding: 9px;
}

.headerPrincipal .opcionPrincipal .opcion2{
    
}

.headerPrincipal .opcionPrincipal .opcion3{
    
}

}



/*laptop*/
@media screen and (min-width: 769px) {

    .headerPrincipal {

height: 124px;

display: flex;

/* justify-content: space-around; */

background-color: var(--rojo);

}

    .headerPrincipal img {

height: 77px;

padding-top: 8px;

}

    .headerPrincipal div.conteiner {
        display: flex;
        flex-direction: row-reverse;
    }

    .headerPrincipal h5 {

        text-align: center;

        font-family: var(--frijole);

        color: var(--gris);

        font-size: medium;

        display: none;

        width: 68px;
    }

    .headerPrincipal .burger-menu {
        /* border: solid; */
        margin-left: 31%;
        padding-top: 17px;
        display: none;
    }

    .headerPrincipal .burger-menu i {
        font-size: 50px;
        margin-right: 32px;
    }


    .headerPrincipal nav.opcionPrincipal {

}

    .headerPrincipal .opcionPrincipal ul {}

    .headerPrincipal .opcionPrincipal ul li {}

    .headerPrincipal .opcionPrincipal ul li a {}

}