/*Celular*/
@media screen and (max-width: 360px) {
.headerPrincipal{

background: var(--rojo);

height: 110px;
}

.headerPrincipal div.logoPrincipal {

}

.headerPrincipal img{

height: 25px;
}

.headerPrincipal div.conteiner{display: flex;flex-direction: row-reverse;}

.headerPrincipal h5{

text-align: center;

font-family: var(--frijole);

color: var(--gris);

/* font-size: smaller; */
}

.headerPrincipal nav.opcionPrincipal{

}

.headerPrincipal .opcionPrincipal ul{

}

.headerPrincipal .opcionPrincipal ul li{

}

.headerPrincipal .opcionPrincipal ul li a{

}
}

/*Tablet*/
@media screen and (min-width: 361px) {
    .headerPrincipal{
    
    background: var(--rojo);
    
    height: 198px;
    }
    
    .headerPrincipal div.logoPrincipal {
    
    }
    
    .headerPrincipal img{
    
    height: 100px;
    }
    
    .headerPrincipal div.conteiner{display: flex;flex-direction: row-reverse;}
    
    .headerPrincipal h1{
    
    text-align: center;
    
    font-family: var(--frijole);
    
    color: var(--gris);
    
    font-size: -webkit-xxx-large;
    }
    
    .headerPrincipal nav.opcionPrincipal{
    
    }
    
    .headerPrincipal .opcionPrincipal ul{
    
    }
    
    .headerPrincipal .opcionPrincipal ul li{
    
    }
    
    .headerPrincipal .opcionPrincipal ul li a{
    
    }
    }

/*Celular*/
@media screen and (min-width: 769px) {
    .headerPrincipal{
    
    background: var(--rojo);
    
    height: 198px;
    }
    
    .headerPrincipal div.logoPrincipal {
    
    }
    
    .headerPrincipal img{
    
    height: 100px;
    }
    
    .headerPrincipal div.conteiner{display: flex;flex-direction: row-reverse;}
    
    .headerPrincipal h1{
    
    text-align: center;
    
    font-family: var(--frijole);
    
    color: var(--gris);
    
    font-size: -webkit-xxx-large;
    }
    
    .headerPrincipal nav.opcionPrincipal{
    
    }
    
    .headerPrincipal .opcionPrincipal ul{
    
    }
    
    .headerPrincipal .opcionPrincipal ul li{
    
    }
    
    .headerPrincipal .opcionPrincipal ul li a{
    
    }
    }