@media screen and (max-width: 360px) {

    .mainhome {
    height: 533px;
}

    .mainhome img {
        width: 100%;
        height: 36%;
    }

    .mainhome section {
    display: none;
}

    .mainhome section h1 {}

    .mainhome section .bannerhome {}

    .mainhome section .bannerhome ul {}

    .mainhome section.bannerhome ul li {}

    .mainhome section.bannerhome ul li a {}

    .mainhome .imagena {
        display: none;
    }

    .mainhome .imagenb {}

    .mainhome .imagenc {}

    .pizzas1 {
        display: flex;
        justify-content: flex-start;
        padding-top: 32px;
    }

    .pizzas1 .pizzacala {
        width: 50%;
    }

    .pizzas1 h3 {}

    .pizzas1 ul {
        padding-top: 26px;
    }

    .pizzas1 ul li {}

    .pizzas1 ul li a {}



    .pizzas2 {
        display: flex;
        justify-content: revert;
        flex-direction: row-reverse;
        margin-top: 32px;
    }

    .pizzas2 .pizzaprovo {
        width: 50%;
    }

    .pizzas2 h3 {
        /* position: absolute; */
    }

    .pizzas2 ul {
        padding-top: 26px;
    }

    .pizzas2 ul li {}

    .pizzas2 ul li a {}


    .pizzas3 {
    display: none;
}

    .pizzas3 .img {}

    .pizzas3 h3 {}

    .pizzas3 ul {}

    .pizzas3 ul li {}

    .pizzas3 ul li a {}

}

@media screen and (min-width: 361px) {

    .mainhome {}

    .mainhome img {
        width: 100%;
        height: 45%;
    }

    .mainhome h1 {}

    .bannerhome {}

    .bannerhome ul {}

    .bannerhome ul li {}

    .bannerhome ul li a {}

    .mainhome .imagena {}

    .mainhome .imagenb {}

    .mainhome .imagenc {}

    .pizzas1 {
        display: flex;
        justify-content: flex-start;
    }

    .pizzas1 .pizzacala {
        width: 50%;
    }

    .pizzas1 h3 {}

    .pizzas1 ul {
        padding-top: 26px;
    }

    .pizzas1 ul li {}

    .pizzas1 ul li a {}



    .pizzas2 {
        display: flex;
        justify-content: revert;
        flex-direction: row-reverse;
    }

    .pizzas2 .pizzaprovo {
        width: 50%;
    }

    .pizzas2 h3 {
        /* position: absolute; */
    }

    .pizzas2 ul {
        padding-top: 26px;
    }

    .pizzas2 ul li {}

    .pizzas2 ul li a {}


    .pizzas3 {}

    .pizzas3 .img {}

    .pizzas3 h3 {}

    .pizzas3 ul {}

    .pizzas3 ul li {}

    .pizzas3 ul li a {}

}


}